@use '../abstract/index' as *;

.accordion {
  width: fit-content;

  color: $color-white;
}

.accordion__wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff26;
}

.accordion__section {
  width: 100%;
}

.accordion-accordion__toggle {
  display: none;
}

.accordion__header {
  padding: 15px 8px 15px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #ffffff26;
  //  color: $color-white;
  @include font($size: 1.4rem, $height: 1.4rem, $weight: 400);
  // @include media-laptop-xl {
  //   height: 62px;
  //   padding: 0 22px 0 32px;
  //   @include font($size: 1.6rem, $height: 1.7rem, $weight: 400);
  // }
  // @include media-laptop-lg {
  //   height: 52px;
  //   padding: 0 18px 0 26px;
  //   @include font($size: 1.5rem, $height: 1.6rem, $weight: 400);
  // }
  // @include media-laptop {
  //   height: 44px;
  //   padding: 0 16px 0 20px;
  //   @include font($size: 1.4rem, $height: 1.5rem, $weight: 400);
  // }
  img {
    width: 12px;
    height: 12px;
  }
  @include media-laptop-xl {
    @include font($size: 1.3rem, $height: 1.3rem, $weight: 400);
    padding: 14px 8px 14px 2px;
  }
  @include media-laptop-lg {
    padding: 12px 7px 12px 2px;
    @include font($size: 1.2rem, $height: 1.2rem, $weight: 400);
    img {
      width: 11px;
      height: 11px;
    }
  }
  @include media-laptop {
    padding: 10px 6px 10px 2px;
    @include font($size: 1.1rem, $height: 1.1rem, $weight: 400);
    img {
      width: 10px;
      height: 10px;
    }
  }
  @include media-mobile {
    padding: 8px 5px 8px 2px;
    @include font($size: 1.4rem, $height: 1.4rem, $weight: 400);
  }
}

.accordion__icon {
  position: relative;
  width: 14px;
  height: 14px;
  @extend %transition;

  @include media-laptop-lg {
    width: 12px;
    height: 12px;
  }
  @include media-laptop {
    width: 10px;
    height: 10px;
  }
}

.accordion-accordion__toggle:checked + .accordion__header .accordion__icon {
  transform: rotate(180deg);
}

.accordion__content {
  // background-color: #151515;

  transition: grid-template-rows 0.3s ease;
  display: grid;
  grid-template-rows: 0fr;
  // border-bottom: 1px solid #ffffff26;
}

.accordion-accordion__toggle:checked + .accordion__header + .accordion__content {
  grid-template-rows: 1fr;
  // border-bottom: none;
}

.accordion__content-inner {
  overflow: hidden;
}

.accordion__content-data {
  // padding: 25px;
  // display: flex;
  // flex-direction: column;
  // @include media-laptop-lg {
  //   padding: 20px;
  // }
  // &_radio {
  //   gap: 25px;
  //   @include media-laptop-lg {
  //     gap: 20px;
  //   }
  // }
  // &_range {
  //   gap: 20px;
  //   margin-bottom: 10px;
  //   @include media-laptop-lg {
  //     gap: 16px;
  //     margin-bottom: 8px;
  //   }
  // }
}

.accordion__apply {
  width: 100px;
  height: 31px;
  padding: 0;
  border-radius: 7px;
  justify-content: center;
  @include font($size: 1.2rem, $height: 1.2rem, $weight: 500);
}
