@use '../abstract/index' as *;

.icon-button {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  border-radius: 4px;
  &:hover {
    background: $color-icon-button;
    img {
      filter: brightness(0) invert(1);
    }
  }
  img {
    filter: grayscale(100%) brightness(70%);
  }

  @include media-laptop-xl {
    width: 40px;
    height: 40px;
    img {
      width: 18px;
      height: 18px;
    }
  }

  @include media-laptop {
    width: 30px;
    height: 30px;
    img {
      width: 17px;
      height: 17px;
    }
  }

  @include media-tablet-lg {
    width: 26px;
    height: 26px;
    img {
      width: 12px;
      height: 12px;
    }

    @include media-tablet {
      background: $color-icon-button;
      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  @include media-mobile-sm {
    img {
      width: 10px;
      height: 10px;
    }
  }
}

.burger-button {
  background-color: rgba(70, 70, 70, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  span {
    width: 45%;
    height: 1px;
    background: #adadad;
  }
}

.button {
  width: 248px;
  height: 65px;
  display: flex;
  gap: 2px;
  padding: 25px;
  align-items: center;
  background: linear-gradient(93deg, #004dff 2.52%, #002e99 318.84%);
  border-radius: 15px;
  text-align: center;
  span {
    flex-grow: 1;
  }
  img {
    width: 15px;
  }
  @include media-laptop-xl {
    height: 60px;
    @include font($size: 1.4rem, $height: 1.6rem, $weight: 400);
    img {
      width: 14px;
    }
  }
  @include media-tablet-sm {
    width: 320px;
  }
}

.button-card {
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(40px);
  background: rgba(255, 255, 255, 0.02);
  text-align: start;
  max-width: 310px;
  @include font($size: 3rem, $height: 3rem, $weight: 400);
  &:hover {
    background: #0840f4;
  }
  @include media-desktop {
    width: 310px;
    flex: 1;
    padding: 20px;
    @include font($size: 2.6rem, $height: 2.7rem, $weight: 400);
  }
  @include media-laptop-xl {
    max-width: 250px;
    padding: 18px;
    @include font($size: 2.3rem, $height: 2.4rem, $weight: 400);
  }

  @include media-laptop-lg {
    max-width: 220px;
    padding: 15px;
    @include font($size: 2rem, $height: 2.1rem, $weight: 400);
  }
  @include media-laptop {
    max-width: 180px;
    padding: 10px;
    @include font($size: 1.6rem, $height: 1.7rem, $weight: 400);
  }
  @include media-tablet-lg {
    max-width: 140px;
    @include font($size: 1.3rem, $height: 1.4rem, $weight: 400);
  }
  @include media-tablet {
    max-width: 100px;
    @include font($size: 1rem, $height: 1.1rem, $weight: 400);
  }
}

.slider-button {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @extend %transition;
  img {
    width: 15px;
  }

  &:hover {
    border: 1px solid #0840f4;
    background-color: #0840f4;
  }

  &-left {
    transform: rotate(180deg);
  }
}
