@use '../abstract/index' as *;

.number-input {
  position: relative;
  display: inline-block;
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    width: 60px;
    height: 57px;
    padding: 8px 27px 8px 16px;
    border: none;
    border-radius: 12px;
    background-color: #ffffff1a;
    color: white;
    font-size: 16px;
    outline: none;
  }

  .controls {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 57px;
    background-color: #0840f4;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      background: transparent;
      border: none;
      width: 100%;
      // height: 50%;
      flex: 0.45;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: white;
      font-size: 9px;
      padding: 0;

      // &:first-child {
      //   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      // }

      &:active {
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
