#preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  opacity: 1;
  background-color: #000;
  overflow: hidden;
  cursor: progress;
  flex-direction: column;
  gap: 20px;
}
.loader {
  position: relative;
  width: 150px;
  height: 150px;
}

#preloader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
}

.loader:before,
.loader:after {
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(188, 188, 188, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #014cfc inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
