@use '../abstract/index' as *;

.range-values {
  display: flex;
  justify-content: space-between;
}

.range-field {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #6d6d6d;
  @include font($size: 1.5rem, $height: 1.5rem, $weight: 400);
}

.range-field input {
  width: 80px;
  height: 25px;
  background: #1e1e1e;
  border: none;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  @include font($size: 1.2rem, $height: 1.2rem, $weight: 400);
  @include media-laptop-lg {
    width: 70px;
    height: 22px;
    @include font($size: 1.1rem, $height: 1.1rem, $weight: 400);
  }
  @include media-laptop {
    width: 60px;
    height: 20px;
    @include font($size: 1rem, $height: 1rem, $weight: 400);
  }
  // text-align: center;
}

/* slider */
.range-slider {
  position: relative;
  height: 20px;
}

.range-track {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  background: #d9d9d9;
  border-radius: 2px;
}

.range-track::before {
  content: '';
  position: absolute;
  height: 100%;
  background: #0a4cff;
  left: var(--left-range);
  right: var(--right-range);
  border-radius: 2px;
}

/* range inputs */
.range-slider input[type='range'] {
  position: absolute;
  width: 100%;
  top: 0;
  pointer-events: none;
  appearance: none;
  background: none;
}

.range-slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: auto;

  width: 13px;
  height: 13px;
  border-radius: 50%;
  cursor: pointer;

  margin-top: 3px;

  background: radial-gradient(circle, #ffffff 0 3.5px, #0a4cff 3.5px 100%);
}

/* Firefox */
.range-slider input::-moz-range-thumb {
  pointer-events: auto;

  width: 13px;
  height: 13px;
  border-radius: 50%;
  cursor: pointer;

  background: radial-gradient(circle, #ffffff 0 3.5px, #0a4cff 3.5px 100%);
}

.range-values {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
