
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}


body {
    font-family: 'HelveticaNeueCyr', sans-serif;
    letter-spacing: -0.03em;
    font-weight: 300;
    background: #000;
}

.container {
    width: 98%;
    margin: 0 auto;
}

.container-max {
    width: 100%;
}

.container-mobile {
    width: 98%;
    margin: 0 auto;
}

.mobile {
    display: none;
}

.br-pc {
    height: 0;
    display: block;
}

@media screen and (max-width: 999px) {


    .container {
        width: 94%;
    }

    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }

    .br-mobile {
        height: 0;
        display: block;
    }

    .br-pc {
        display: none;
    }

    .container-mobile {
        width: 100%;
    }

}



/* ---------- head block ---------*/

.header {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 2;
    width: 94%;
    align-items: center;
}

.logo {
    width: 120px;
}


.nav-menu {
    display: flex;
    gap: 60px;
    margin-left: auto;
    margin-right: auto;
}

.nav-menu li {
    font-weight: 500;
    font-size: 15px;
    color: #fff;
}

.header-button-catalog {
    margin-left: auto;
    background: #014CFC;
    color: #fff;
    border-radius: 9px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}



.header-inner{
    position: relative;
    min-height: calc(var(--fixed-vh) - 30px);
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    overflow: hidden;
    justify-content: center;
    padding: 30px;
}

.head-back-wrap {
    width: 100%;
    height: 100%;
}

.header-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}



.header__content {
    margin-top: auto;
    position: relative;
}
/*
.header__content-back {
    filter: blur(100px);
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
} */

.header__head {
    font-weight: 400;
    font-size: 70px;
    line-height: 107%;
    color: #fff;
    width: 1600px;
}

.header__buttons-block {
    display: flex;
    gap: 28px;
}

.header__button {
    display: flex;
    gap: 2px;
    padding: 24px;
    align-items: center;
    background: linear-gradient(128deg, #004dff 0%, #002e99 100%);
    width: 248px;
    height: 65px;
    border-radius: 15px;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

.header__button-services {
    background: transparent;
    border: 1px solid #fff;
    backdrop-filter: blur(40px);
    background: rgba(255, 255, 255, 0.02);
}

.header__button-text {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    flex: 1;
    text-align: center;
}

.header__button-arrow {
    width: 15px;
}

.header__button-services .header__button-arrow {
    transform: rotate(315deg);
    width: 16px;
}



@media screen and (max-width: 1919px) {

    .logo {
        width: 80px;
    }

    .nav-menu {
        gap: 50px;
    }

    .nav-menu li {
        font-size: 12px;
    }

    .header-button-catalog {
        font-size: 12px;
        border-radius: 6px;
    }

    .header__head {
        width: 1100px;
        font-size: 46px;
    }

    .header__button {
        width: 200px;
        height: 42px;
        border-radius: 10px;
    }

    .header__button-text {
        font-size: 12px;
    }

    .header__button-arrow {
        width: 11px;
    }

    .header__button-services .header__button-arrow {
        width: 12px;
    }


}

@media screen and (max-width: 1439px) {
    .logo {
        width: 70px;
    }

    .nav-menu {
        gap: 40px;
    }

    .header__head {
        width: 1000px;
        font-size: 42px;
    }
}


@media screen and (max-width: 1200px) {
    .logo {
        width: 60px;
    }

    .nav-menu {
        gap: 30px;
    }

    .nav-menu li {
        font-size: 11px;
    }

    .header-button-catalog {
        font-size: 11px;
    }

    .header__head {
        width: 900px;
        font-size: 40px;
    }

    .header__button {
        width: 160px;
        height: 30px;
        border-radius: 7px;
    }

    .header__button-text {
        font-size: 10px;
    }

    .header__button-arrow {
        width: 9px;
    }

    .header__button-services .header__button-arrow {
        width: 11px;
    }

}



@media screen and (max-width: 999px) {

    .header-inner {
        min-height: var(--fixed-vh);
        margin-top: 0;
        padding: 6px;
        gap: 15px;
    }

    .header {
        width: 94%;
        left: 10px;
        top: 25px;
    }

    .head-back-wrap {
        height: auto;
        /* width: 98%;
        margin-left: auto;
        margin-right: auto; */
    }


    .header-back {
        position: static;
        /* width: 1000px; */
        min-height: 460px;
        height: 100%;
        width: 100%;
        border-radius: 0;
        object-fit: cover;
    }


    .logo {
        width: 80px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .nav-menu {
        display: none;
    }

    .header-button-catalog {
        display: none;
    }

    .header__head {
        font-size: 30px;
        line-height: 103%;
    }

    .header__button-services {
        display: none;
    }

    .header__button {
        width: 248px;
        height: 65px;
        border-radius: 15px;
    }

    .header__button-text {
        font-size: 16px;
    }

    .header__button-arrow {
        width: 14px;
    }

    .header__content {
        background: #000;
        height: 215px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 40px 20px;
        flex: 1;
    }

    .header__buttons-block {
        width: 100%;
        justify-content: space-between;
    }

    .header__head {
        width: 100%;
        font-weight: 400;
        font-size: 25px;
        line-height: 112%;
        width: 320px;
    }

    .burger-menu {
        margin-left: auto;
        display: block;
    }

    .burger-btn {
        margin-right: 20px;
        width: 21px;
        height: 11px;
        cursor: pointer;
        z-index: 1001;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .burger-line {
        width: 100%;
        height: 1px;
        background-color: #fff;
        transition: all 0.3s ease;
    }
}



/*PRELOADER*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    opacity: 1;
    background-color: #000;
    overflow: hidden;
    cursor: progress;
    display: flex;
    flex-direction: column;
    gap: 20px;
}.loader {
  position: relative;
  width: 150px;
  height: 150px;
}

#preloader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
}

.loader:before , .loader:after{
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(188, 188, 188, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #014CFC inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {  transform: rotate(0)}
  100% { transform: rotate(360deg)}
}







