@use 'constants' as *;

@mixin font($size, $height: $size, $weight: bold, $style: normal) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
}

@mixin columns($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > * {
    flex-basis: $width;
  }
}

@mixin media-desktop {
  @media (max-width: $desktop-width) {
    @content;
  }
}

@mixin media-laptop-xl {
  @media (max-width: $laptop-xl-width) {
    @content;
  }
}

@mixin media-laptop-lg {
  @media (max-width: $laptop-lg-width) {
    @content;
  }
}

@mixin media-laptop {
  @media (max-width: $laptop-width) {
    @content;
  }
}

@mixin media-tablet-lg {
  @media (max-width: $tablet-lg-width) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin media-tablet-sm {
  @media (max-width: $tablet-sm-width) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-lg-width) {
    @content;
  }
}

@mixin media-mobile-sm {
  @media (max-width: $mobile-sm-width) {
    @content;
  }
}
