@use '../abstract/index' as *;

.advantages {
  color: $color-white;
  padding: 30px 25px;
  // margin: 30px 0;
}

.advantages__header {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  @include font($size: 3.5rem, $height: 4.4rem, $weight: 400);
  letter-spacing: -1px;
  img {
    @include media-tablet-sm {
      display: none;
    }
  }
  @include media-laptop-lg {
    @include font($size: 3.2rem, $height: 126%, $weight: 400);
  }
  @include media-tablet-lg {
    @include font($size: 3rem, $height: 126%, $weight: 400);
  }
  @include media-mobile {
    @include font($size: 2.3rem, $height: 2.6rem, $weight: 400);
    padding: 35px 0 30px;
  }
}

.advantages__title {
  :last-child {
    color: #8b8f94;
  }
}

.advantages__content {
  margin-bottom: 85px;

  display: grid;
  grid-template-columns: repeat(4, max-content);
  column-gap: 25px;
  row-gap: 150px;
  justify-content: space-between;
  @include media-tablet {
    grid-template-columns: repeat(2, max-content);
    gap: 18px;
  }
  // @include media-mobile {
  //   grid-template-columns: repeat(2, minmax(140px, 1fr));
  //   justify-content: space-between;
  // }
}

.advantages__card {
  display: flex;
  gap: 20px;
  align-items: center;
  @include media-laptop {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  @include media-tablet {
    flex-direction: row;
    gap: 20px;
  }
  @include media-tablet-sm {
    flex-direction: column;
    gap: 16px;
  }
}

.advantages__image {
  width: 85px;
  min-width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #0840f4;
  img {
    width: 40px;
    height: 40px;
  }
  @include media-laptop-xl {
    width: 70px;
    min-width: 70px;
    height: 70px;
    img {
      width: 36px;
      height: 36px;
    }
  }

  @include media-laptop-lg {
    width: 65px;
    min-width: 65px;
    height: 65px;
    img {
      width: 32px;
      height: 32px;
    }
  }
  @include media-mobile {
    width: 60px;
    min-width: 60px;
    height: 60px;
    img {
      width: 29px;
      height: 29px;
    }
  }
}

.advantages__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 225px;
  letter-spacing: -1px;
  @include font($size: 2rem, $height: 2.5rem, $weight: 500);
  color: $color-white;

  & :last-child {
    @include font($size: 1.4rem, $height: 1.9rem, $weight: 400);
    color: #858585;
  }
  @include media-laptop-xl {
    width: 200px;
    gap: 6px;
    @include font($size: 1.8rem, $height: 2.3rem, $weight: 500);
    & :last-child {
      @include font($size: 1.3rem, $height: 1.7rem, $weight: 400);
    }
  }
  @include media-laptop-lg {
    width: 175px;
    @include font($size: 1.6rem, $height: 2.1rem, $weight: 500);
    & :last-child {
      @include font($size: 1.2rem, $height: 1.6rem, $weight: 400);
    }
  }
  @include media-mobile {
    width: 157px;
    & :last-child {
      width: 120px;
    }
  }
}

.advantages__card:nth-child(1) .advantages__info :last-child,
.advantages__card:nth-child(2) .advantages__info :last-child {
  max-width: 210px;
}

.advantages__card:nth-child(4n) .advantages__info {
  max-width: 185px;
  @include media-laptop-xl {
    max-width: 166px;
  }
  @include media-laptop-lg {
    max-width: 150px;
  }
  @include media-tablet {
    max-width: 160px;
  }
}

// @include media-mobile {
//   .advantages__card:nth-child(2n) .advantages__info {
//     max-width: 120px;
//   }
// }
