@use '../abstract/index' as *;

.catalog-overview {
  width: 100%;
  height: 1000px;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
  color: $color-white;
  margin-bottom: 65px;
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: rgba(5, 4, 9, 0.6);
    filter: blur(500px);
  }
  @include media-mobile {
    margin-bottom: 50px;
    max-height: var(--fixed-vh);
  }
}

.catalog-overview__video-block {
  width: 100%;
  height: 118%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}

.catalog-overview__content {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 36px;
  padding: 45px;
  @include media-tablet {
    gap: 30px;
    padding: 25px;
  }
}

.catalog-overview__header {
  display: flex;
  justify-content: space-between;
}

.catalog-overview__title {
  letter-spacing: -3px;
  width: 1240px;
  @include font($size: 8rem, $height: 8.2rem, $weight: 400);
  @include media-laptop-xl {
    @include font($size: 6.5rem, $height: 6.7rem, $weight: 400);
    width: 990px;
  }
  @include media-laptop-lg {
    width: 735px;
    @include font($size: 5rem, $height: 5.1rem, $weight: 400);
  }
  @include media-laptop {
    width: 570px;
    @include font($size: 4rem, $height: 4.1rem, $weight: 400);
  }
  @include media-tablet-lg {
    @include font($size: 3.5rem, $height: 3.6rem, $weight: 400);
  }
  @include media-tablet {
    @include font($size: 2.8rem, $height: 3.2rem, $weight: 400);
  }
  @include media-tablet-sm {
    @include font($size: 3.5rem, $height: 3.6rem, $weight: 400);
    width: 100%;
  }
  @include media-mobile {
    @include font($size: 3.9rem, $height: 4.1rem, $weight: 400);
    width: 350px;
  }
  @include media-mobile-sm {
    @include font($size: 3.5rem, $height: 3.6rem, $weight: 400);
    width: 100%;
  }
}

.catalog-overview__subtitle {
  @include font($size: 1.45rem, $height: 3.1rem, $weight: 400);
  padding-top: 15px;
  text-align: right;
  letter-spacing: -0.03em;
  border-top: 1px solid $color-white;
  @include media-laptop-xl {
    @include font($size: 1.35rem, $height: 2.3rem, $weight: 400);
    padding-top: 12px;
  }
  @include media-laptop-lg {
    padding-top: 10px;
    @include font($size: 1.2rem, $height: 2rem, $weight: 400);
  }
  @include media-tablet-lg {
    padding-top: 5px;
    @include font($size: 1.2rem, $height: 2rem, $weight: 400);
  }
  @include media-tablet {
    @include font($size: 1rem, $height: 1.8rem, $weight: 400);
  }
}

.catalog-overview__description {
  display: flex;
  flex-direction: column;
  width: 340px;
  min-width: 340px;
  margin-right: 35px;
  @include media-desktop {
    margin-right: 0;
  }
  @include media-laptop-xl {
    width: 317px;
    min-width: 317px;
  }
  @include media-laptop-lg {
    width: 282px;
    min-width: 282px;
  }

  @include media-tablet-lg {
    width: 225px;
    min-width: 225px;
  }
  @include media-tablet {
    width: 188px;
    min-width: 188px;
  }
  @include media-tablet-sm {
    display: none;
  }
}

.catalog-overview__logo {
  width: 130px;
  margin-left: auto;
  padding-bottom: 30px;
  @include media-laptop-lg {
    padding-bottom: 20px;
  }
  @include media-laptop-xl {
    width: 115px;
    padding-bottom: 15px;
  }
  @include media-laptop-lg {
    width: 110px;
    padding-bottom: 10px;
  }
  @include media-tablet {
    width: 88px;
  }
}

.catalog-overview__controls {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: end;
}

.catalog-overview__cards {
  display: flex;
  gap: 8px;
  @include media-tablet-sm {
    display: none;
  }
}

.catalog-overview__card {
  flex: 1;
  padding: 30px 25px;
  @include media-laptop-xl {
    padding: 18px;
  }
  @include media-laptop-lg {
    padding: 16px;
  }
  @include media-laptop {
    padding: 15px;
  }
}

.catalog-overview__button {
  @include media-laptop {
    width: 140px;
    height: 45px;
    padding: 15px 25px;
    @include font($size: 1.2rem, $height: 1.5rem, $weight: 400);
    img {
      width: 12px;
    }
    @include media-tablet-lg {
      width: 120px;
      height: 40px;
      padding: 10px 12px;
      @include font($size: 1rem, $height: 1.2rem, $weight: 400);
      img {
        width: 10px;
      }
    }
    @include media-tablet {
      width: 100px;
      height: 35px;
      padding: 8px 10px;
      @include font($size: 0.9rem, $height: 1.1rem, $weight: 400);
      img {
        width: 8px;
      }
    }
    @include media-mobile {
      flex: 1;
      height: 65px;
      padding: 20px 30px;
      @include font($size: 1.7rem, $height: 1.9rem, $weight: 400);
      img {
        width: 14px;
      }
    }
    @include media-mobile-sm {
      @include font($size: 1.6rem, $height: 1.8rem, $weight: 400);
    }
  }
}

.catalog-overview__mobile {
  display: none;
  &-item {
    display: flex;
    flex-basis: 48.5%;
    align-items: end;
    height: 160px;
    background: #003cca;
    color: $color-white;
    padding: 15px;
    @include font($size: 1.8rem, $height: 1.9rem, $weight: 400);
  }
  @include media-tablet-sm {
    display: flex;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    gap: 10px;
    margin-bottom: 25px;
    @include font($size: 1.6rem, $height: 1.7rem, $weight: 400);
  }
}
