@use '../abstract/index' as *;

.catalog-overview {
  width: 100%;
  // height: 100%;
  height: 1000px;
  position: relative;
  overflow: hidden;
  color: $color-white;
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: rgba(5, 4, 9, 0.6);
    filter: blur(500px);
  }
}

.catalog-overview__video-block {
  // position: relative;
  // height: 105%;
  // bottom: 0;
  // object-fit: cover;
  width: 100%;
  height: 114%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.catalog-overview__content {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 36px;
  padding: 50px;
}

.catalog-overview__header {
  display: flex;
  justify-content: space-between;
}

.catalog-overview__title {
  letter-spacing: -3px;
  @include font($size: 8rem, $height: 7.1rem, $weight: 400);
  width: 72%;
}

.catalog-overview__subtitle {
  @include font($size: 1.6rem, $height: 3.2rem, $weight: 400);
  text-align: right;
  letter-spacing: -0.03em;
  border-top: 1px solid $color-white;
}

.catalog-overview__description {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-width: 300px;
}

.catalog-overview__logo {
  width: 130px;
  margin-left: auto;
  padding-bottom: 10px;
}

// .catalog-overview__devider {
//   width: 300px;
//   margin-left: auto;
// }

.catalog-overview__controls {
  display: flex;
}
