@use '../abstract/index' as *;

.explore {
width: 100%;
position: relative;
overflow: hidden;
color: $color-white;
&::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 22%;
    background: #080302;
    filter: blur(200px);
}
}

.explore__video-block {
  position: relative;
  top: 0;
  left: -13%;
  width: 115%;
}

.explore__content {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 36px;
  padding: 50px;
}

.explore__title {
  letter-spacing: -3px;
  @include font($size: 10rem, $height: 7.5rem, $weight: 400);
}

.explore__description {
  width: 42%;
  letter-spacing: -0.5px;
  @include font($size: 1.6rem, $height: 3rem, $weight: 400);
}
