@use "../abstract/index" as *;

.insights {
  color: $color-white;
  margin-bottom: 60px;
  @include media-mobile {
    margin-bottom: 0;
  }
}

.insights__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 25px;
  p {
    @include font($size: 3.5rem, $height: 126%, $weight: 400);
    letter-spacing: -1px;
    @include media-laptop-xl {
      @include font($size: 3.2rem, $height: 126%, $weight: 400);
    }
    @include media-laptop-lg {
      @include font($size: 3rem, $height: 126%, $weight: 400);
    }

    @include media-tablet-sm {
      @include font($size: 2rem, $height: 126%, $weight: 400);
      display: flex;
      flex-direction: column;
    }
  }
}

.insights__title {
  :last-child {
    color: #8b8f94;
  }
}

.insights__controls {
  display: flex;
  gap: 20px;
  @include media-laptop-xl {
    div {
      width: 44px;
      height: 44px;
      img {
        width: 13px;
        height: 13px;
      }
    }
  }
  @include media-laptop-lg {
    div {
      width: 40px;
      height: 40px;
      img {
        width: 12px;
        height: 12px;
      }
    }
  }
  @include media-tablet-lg {
    div {
      width: 37px;
      height: 37px;
      img {
        width: 11px;
        height: 11px;
      }
    }
  }
}

.insights__swiper-wrapper {
  padding: 0 20px 60px;
}

.insights__swiper-slide {
  height: 540px !important;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  &:hover {
    .insights__button {
      background: $color-icon-button;
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
  @include media-tablet-lg {
    height: 500px !important;
  }
  @include media-mobile {
    height: 390px !important;
  }
}

.insights__image {
  display: block;
  width: 100%;
  height: calc(100% - 85px);
  object-fit: contain;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.insights__info {
  height: 85px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  text-align: left;
  color: $color-white;
  @include font($size: 3rem, $height: 3rem, $weight: 400);
  p {
    margin-bottom: 4px;
  }
  span {
    color: #8b8f94;
  }
  @include media-laptop-xl {
    @include font($size: 2.6rem, $height: 2.6rem, $weight: 400);
  }
  @include media-laptop-lg {
    @include font($size: 2.3rem, $height: 2.3rem, $weight: 400);
  }
  @include media-tablet {
    @include font($size: 2.2rem, $height: 2.2rem, $weight: 400);
  }
  @include media-mobile {
    @include font($size: 1.8rem, $height: 1.8rem, $weight: 400);
  }
}

.insights__button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 45px;
  height: 45px;
  padding: 0;
  background: $color-white;
  border-radius: 50%;
  @extend %transition;

  img {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @include media-laptop-xl {
    width: 40px;
    height: 40px;
    img {
      width: 13px;
      height: 13px;
    }
  }
  @include media-laptop-lg {
    width: 35px;
    height: 35px;
    img {
      width: 12px;
      height: 12px;
    }
  }
  @include media-mobile {
    width: 26px;
    height: 26px;
    img {
      width: 12px;
      height: 12px;
    }
  }
}
