@use '../abstract/index' as *;

.new-collection {
  width: 100%;
  height: 1000px;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
  color: $color-white;
  margin-bottom: 65px;
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: rgba(5, 4, 9, 0.6);
    filter: blur(500px);
  }
  @include media-mobile {
    height: 585px;
    max-height: var(--fixed-vh);
    margin-bottom: 20px;
  }
}

.new-collection__background {
  height: 100%;
  width: 106%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: -3%;
  @include media-mobile {
    width: 200%;
    left: -99%;
    // right: 0;
  }
}

.new-collection__content {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 36px;
  padding: 50px;
  @include media-laptop-xl {
    padding: 45px;
  }
  @include media-laptop-lg {
    gap: 30px;
    padding: 40px;
  }
  @include media-laptop {
    gap: 25px;
    padding: 30px;
  }
  @include media-tablet {
    gap: 25px;
    padding: 20px;
  }
  @include media-tablet-sm {
    justify-content: flex-end;
  }
}

.new-collection__header {
  display: flex;
  justify-content: space-between;
  @include media-tablet-sm {
    display: none;
  }
}

.new-collection__label {
  @include font($size: 2.5rem, $height: 2.5rem, $weight: 400);
  @include media-laptop-xl {
    @include font($size: 2.1rem, $height: 2.1rem, $weight: 400);
  }
  @include media-laptop-lg {
    @include font($size: 1.9rem, $height: 1.9rem, $weight: 400);
  }
  @include media-laptop {
    @include font($size: 1.6rem, $height: 1.6rem, $weight: 400);
  }
  letter-spacing: -1px;
  @include media-tablet {
    @include font($size: 2rem, $height: 2rem, $weight: 400);
  }
}

.new-collection__footer {
  display: flex;
  flex-direction: column;
}

.new-collection__info {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.new-collection__title {
  letter-spacing: -1px;
  width: 66%;
  @include font($size: 10rem, $height: 7.1rem, $weight: 300);
  @include media-laptop-xl {
    @include font($size: 8.4rem, $height: 7.1rem, $weight: 300);
  }
  // @include media-laptop-xl {
  //   @include font($size: 6rem, $height: 6.1rem, $weight: 300);
  // }
  @include media-laptop-lg {
    width: 61%;
    @include font($size: 7.7rem, $height: 7rem, $weight: 300);
    // @include font($size: 5rem, $height: 5.1rem, $weight: 300);
  }
  @include media-laptop {
    @include font($size: 4rem, $height: 4.1rem, $weight: 300);
  }
  @include media-tablet-lg {
    @include font($size: 3.5rem, $height: 3.6rem, $weight: 300);
  }
  @include media-tablet {
    @include font($size: 2.8rem, $height: 3.2rem, $weight: 300);
  }
  @include media-tablet-sm {
    @include font($size: 5rem, $height: 5.1rem, $weight: 300);
    width: 100%;
    margin-bottom: 15px;
  }
  @include media-mobile {
    @include font($size: 5.5rem, $height: 5.55rem, $weight: 300);
  }
  @include media-mobile-sm {
    @include font($size: 5rem, $height: 5.1rem, $weight: 300);
  }
}

.new-collection__subtitle {
  @include font($size: 1.6rem, $height: 3.2rem, $weight: 400);
  padding-top: 15px;
  text-align: right;
  letter-spacing: -0.03em;
  border-top: 1px solid $color-white;
  @include media-laptop-xl {
    padding-top: 10px;
    @include font($size: 1.4rem, $height: 2.4rem, $weight: 400);
  }
  @include media-laptop-lg {
    padding-top: 8px;
    @include font($size: 1.3rem, $height: 2.2rem, $weight: 400);
  }
  @include media-laptop {
    padding-top: 5px;
    @include font($size: 1.2rem, $height: 2rem, $weight: 400);
  }
  @include media-tablet-lg {
    @include font($size: 1rem, $height: 1.8rem, $weight: 400);
  }
  @include media-tablet {
    @include font($size: 0.9rem, $height: 1.6rem, $weight: 400);
  }
  @include media-tablet-sm {
    text-align: left;
  }
  @include media-mobile {
    @include font($size: 1.1rem, $height: 1.7rem, $weight: 400);
  }
  @include media-mobile-sm {
    @include font($size: 0.9rem, $height: 1.6rem, $weight: 400);
  }
}

.new-collection__description {
  display: flex;
  flex-direction: column;
  width: 181px;
  min-width: 181px;
  margin-right: 35px;
  margin-bottom: 60px;
  @include media-laptop-xl {
    margin-right: 20px;
    width: 160px;
    min-width: 160px;
  }
  @include media-laptop-lg {
    margin-right: 15px;
    width: 148px;
    min-width: 148px;
  }
  @include media-laptop {
    margin-right: 0;
    width: 140px;
    min-width: 140px;
    margin-bottom: 30px;
  }
  @include media-tablet-lg {
    width: 120px;
    min-width: 120px;
  }
  @include media-tablet {
    width: 105px;
    min-width: 105px;
  }
  @include media-tablet-sm {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  @include media-mobile {
    top: 20px;
    left: 20px;
    width: 125px;
    min-width: 125px;
  }
  @include media-mobile-sm {
    top: 20px;
    left: 20px;
    width: 105px;
    min-width: 105px;
  }
}

.new-collection__price {
  margin-bottom: 30px;
  text-align: right;
  @include font($size: 3.5rem, $height: 3.5rem, $weight: 400);
  letter-spacing: -1px;
  @include media-laptop-xl {
    @include font($size: 3rem, $height: 3rem, $weight: 400);
    margin-bottom: 20px;
  }
  @include media-laptop-lg {
    @include font($size: 2.8rem, $height: 2.8rem, $weight: 400);
    margin-bottom: 20px;
  }
  @include media-laptop {
    @include font($size: 2.5rem, $height: 2.5rem, $weight: 400);
    margin-bottom: 15px;
  }
  @include media-tablet-lg {
    @include font($size: 2rem, $height: 2rem, $weight: 400);
  }
  @include media-tablet {
    @include font($size: 1.8rem, $height: 1.8rem, $weight: 400);
  }
  @include media-tablet-sm {
    text-align: left;
  }
  @include media-mobile {
    @include font($size: 2rem, $height: 2rem, $weight: 400);
  }
  @include media-mobile-sm {
    @include font($size: 1.8rem, $height: 1.8rem, $weight: 400);
  }
}

.new-collection__logo {
  width: 130px;
  margin-left: auto;
  padding-bottom: 30px;
  margin-right: 35px;
  @include media-laptop-xl {
    width: 115px;
    margin-right: 20px;
  }
  @include media-laptop-lg {
    width: 105px;
    margin-right: 15px;
  }
  @include media-laptop {
    width: 95px;
    margin-right: 0;
  }
  @include media-tablet {
    width: 90px;
  }
}

.new-collection__controls {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.new-collection__cards {
  display: flex;
  gap: 8px;
  @include media-tablet-sm {
    display: none;
  }
}

.new-collection__card {
  min-width: 310px;
  display: flex;
  flex-direction: column;
  letter-spacing: -1px;
  padding: 28px 45px;
  :first-child {
    @include font($size: 1.6rem, $height: 190%, $weight: 500);
  }
  :last-child {
    @include font($size: 3.5rem, $height: 3.5rem, $weight: 400);
  }
  @include media-laptop-xl {
    min-width: 255px;
    padding: 22px 38px;
    :first-child {
      @include font($size: 1.4rem, $height: 190%, $weight: 500);
    }
    :last-child {
      @include font($size: 3rem, $height: 3rem, $weight: 400);
    }
  }
  @include media-laptop-lg {
    min-width: 230px;
    padding: 16px 30px;
    :first-child {
      @include font($size: 1.2rem, $height: 190%, $weight: 500);
    }
    :last-child {
      @include font($size: 2.5rem, $height: 2.5rem, $weight: 400);
    }
  }
  @include media-laptop {
    min-width: 210px;
    // :first-child {
    //   @include font($size: 1.2rem, $height: 190%, $weight: 500);
    // }
    // :last-child {
    //   @include font($size: 2.5rem, $height: 2.5rem, $weight: 400);
    // }
  }
  @include media-tablet-lg {
    min-width: 180px;
    :first-child {
      @include font($size: 1rem, $height: 190%, $weight: 500);
    }
    :last-child {
      @include font($size: 2rem, $height: 2rem, $weight: 400);
    }
  }
  @include media-tablet {
    min-width: 140px;
    :first-child {
      @include font($size: 0.9rem, $height: 190%, $weight: 500);
    }
    :last-child {
      @include font($size: 1.8rem, $height: 1.8rem, $weight: 400);
    }
  }
}

.new-collection__button {
  @include media-laptop-xl {
    width: 200px;
    height: 55px;
  }
  @include media-laptop-lg {
    width: 180px;
    height: 50px;
    @include font($size: 1.2rem, $height: 1.5rem, $weight: 400);
  }
  @include media-laptop {
    width: 140px;
    height: 45px;
    padding: 15px 25px;
    @include font($size: 1.2rem, $height: 1.5rem, $weight: 400);
    img {
      width: 12px;
    }
  }
  @include media-tablet-lg {
    width: 120px;
    height: 40px;
    padding: 10px 12px;
    @include font($size: 1rem, $height: 1.2rem, $weight: 400);
    img {
      width: 10px;
    }
  }
  @include media-tablet {
    width: 100px;
    height: 35px;
    padding: 8px 10px;
    @include font($size: 0.9rem, $height: 1.1rem, $weight: 400);
    img {
      width: 8px;
    }
  }
  @include media-mobile {
    flex: 1;
    height: 65px;
    padding: 20px 30px;
    @include font($size: 1.6rem, $height: 1.8rem, $weight: 400);
    img {
      width: 14px;
    }
  }
}
