@use '../abstract/index' as *;

.popular-categories {
  color: $color-white;
  padding: 0 20px;
}

.popular-categories__header {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  @include font($size: 3.5rem, $height: 4.4rem, $weight: 400);
  letter-spacing: -1px;
}

.popular-categories__content {
  gap: 25px;
  margin-bottom: 40px;
}

.popular-categories__title {
  :last-child {
    color: #8b8f94;
  }
}

.popular-categories__card {
  position: relative;
  // flex-basis: 18%;
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    background: rgba(30, 29, 28, 0.7);
    filter: blur(100px);
  }
}

.popular-categories__image {
  width: 100%;
}

.popular-categories__subtitle {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 35px 30px;
  @include font($size: 3.5rem, $height: 3rem, $weight: 400);
  letter-spacing: -1px;
}

.popular-categories__button {
  margin: 0 auto 70px;
  img {
    rotate: -45deg;
  }
}
