@use '../abstract/index' as *;

.checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.checkbox input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.checkbox__custom {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  position: relative;
  background-image: url('./../../assets/icons/checkboxBorder.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: grayscale(100%) brightness(0.8);
}

/* галочка как псевдо-слой */
.checkbox__custom::after {
  content: '';
  position: absolute;
  inset: 0;

  background-image: url('./../../assets/icons/checkboxTick.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  opacity: 0;
  width: 9px;
  height: 7px;
  top: 51%;
  left: 51%;
  transform: translate(-50%, -50%);
  transition: opacity 0.1s ease;
}

/* checked — ТОЛЬКО галочка */
.checkbox input[type='checkbox']:checked + .checkbox__custom {
  filter: none;
}

.checkbox input[type='checkbox']:checked + .checkbox__custom::after {
  opacity: 1;
  // transform: scale(1);
}

.checkbox__title {
  @include font($size: 1.4rem, $height: 1.4rem, $weight: 400);
  color: #a8a8a8;
}
