@use '../abstract/index' as *;

.catalog-cover__banner {
  width: 100%;
  position: relative;
  overflow: hidden;
  color: $color-white;
  height: 756px;
  max-height: calc(100vh - 85px);
  margin-bottom: 30px;
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 22%;
    background: #080302;
    filter: blur(200px);
  }
  @include media-laptop-xl {
    height: 720px;
    max-height: calc(100vh - 77px);
  }
  @include media-laptop-lg {
    height: 680px;
    max-height: calc(100vh - 70px);
  }
  @include media-laptop {
    height: 620px;
    max-height: calc(100vh - 70px);
  }
  @include media-laptop {
    height: 580px;
    max-height: calc(100vh - 64px);
  }
  @include media-tablet-lg {
    // height: ;
    max-height: calc(100vh - 60px);
    margin-bottom: 15px;
  }
  @include media-tablet {
    height: 670px;
    max-height: calc(var(--fixed-vh) - 50px);
  }
}

.catalog-cover__image {
  height: 188%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  @include media-laptop-xl {
    height: 168%;
  }
  @include media-laptop-lg {
    height: 159%;
  }
  @include media-laptop {
    height: 156%;
  }
  @include media-mobile {
    top: 0;
    right: -32%;
    width: auto;
    height: 102%;
  }
  // @include media-tablet {
  // object-fit: contain;
  // }
}

.catalog-cover__content {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 36px;
  padding: 50px;

  @include media-laptop-xl {
    gap: 30px;
  }
  @include media-laptop-lg {
    gap: 25px;
  }
  @include media-laptop {
    gap: 16px;
  }
  @include media-tablet-lg {
    gap: 25px;
    padding: 40px;
  }
  @include media-tablet {
    padding: 30px;
  }
  @include media-tablet-sm {
    padding: 20px;
  }
}

.catalog-cover__title {
  letter-spacing: -3px;
  @include font($size: 16rem, $height: 100%, $weight: 300);
  @include media-laptop-xl {
    @include font($size: 13rem, $height: 100%, $weight: 300);
  }

  @include media-laptop-lg {
    @include font($size: 11.7rem, $height: 100%, $weight: 300);
  }

  @include media-laptop {
    @include font($size: 9.5rem, $height: 100%, $weight: 300);
  }
  @include media-tablet-lg {
    @include font($size: 6rem, $height: 100%, $weight: 400);
    letter-spacing: 0;
  }
  @include media-mobile-sm {
    @include font($size: 7rem, $height: 100%, $weight: 400);
  }
}

.catalog-cover__button {
  width: 260px;

  @include media-laptop-xl {
    width: 220px;
    height: 60px;
    padding: 16px 25px;
    border-radius: 14px;
    @include font($size: 1.4rem, $height: 1.6rem, $weight: 500);
    img {
      width: 14px;
    }
  }
  @include media-laptop {
    width: 160px;
    height: 50px;
    padding: 15px 25px;
    border-radius: 12px;
    @include font($size: 1.2rem, $height: 1.5rem, $weight: 500);
    img {
      width: 12px;
    }
    @include media-tablet-lg {
      width: 120px;
      height: 40px;
      padding: 10px 12px;
      @include font($size: 1rem, $height: 1.2rem, $weight: 500);
      img {
        width: 10px;
      }
    }
    @include media-tablet {
      width: 100px;
      height: 35px;
      padding: 8px 10px;
      @include font($size: 0.9rem, $height: 1.1rem, $weight: 500);
      img {
        width: 8px;
      }
    }
    @include media-mobile {
      width: 224px;
      height: 46px;
      padding: 0 20px;
      border-radius: 10px;
      @include font($size: 1.7rem, $height: 1.9rem, $weight: 500);
      img {
        width: 12px;
      }
    }
    @include media-mobile-sm {
      @include font($size: 1.6rem, $height: 1.8rem, $weight: 500);
    }
  }
}
