@use '../abstract/index' as *;

.checkout {
  color: $color-white;
  padding: 100px 20px 50px 25px;
  @include media-laptop-xl {
    padding: 80px 16px 30px 21px;
  }
  @include media-laptop-lg {
    padding: 70px 15px 30px 20px;
  }
  @include media-laptop {
    padding: 60px 15px 24px 20px;
  }
  @include media-tablet {
    padding: 60px 16px 15px;
  }
}

.checkout__title {
  @include font($size: 6rem, $height: 7.5rem, $weight: 400);
  margin-bottom: 20px;
  @include media-laptop-xl {
    margin-bottom: 18px;
    @include font($size: 5rem, $height: 6.2rem, $weight: 400);
  }
  @include media-laptop-lg {
    margin-bottom: 16px;
    @include font($size: 4.8rem, $height: 126%, $weight: 400);
  }
  @include media-laptop {
    margin-bottom: 14px;
    @include font($size: 4.2rem, $height: 126%, $weight: 400);
  }
  @include media-mobile {
    margin-bottom: 24px;
    @include font($size: 3.2rem, $height: 4rem, $weight: 400);
  }
  @include media-mobile-sm {
    margin-bottom: 22px;
    @include font($size: 3rem, $height: 126%, $weight: 400);
  }
}

.checkout__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  @include media-tablet {
    flex-direction: column;
  }
}
.checkout__layout {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @include media-laptop-xl {
    gap: 38px;
  }
  @include media-laptop-lg {
    gap: 32px;
  }
}

.checkout__tabs {
  display: flex;
  align-items: center;
  gap: 50px;
  @include media-mobile {
    justify-content: space-between;
  }
}

.checkout__tab {
  color: rgba($color: #ffffff, $alpha: 0.5);
  @include font($size: 1.6rem, $height: 4rem, $weight: 400);
  cursor: pointer;
  &_active {
    color: $color-white;
    cursor: pointer;
  }
  &:hover {
    color: $color-white;
  }
}

.checkout__form {
  width: 468px;
  display: flex;
  flex-direction: column;
  @include media-tablet-lg {
    width: auto;
  }
}

.checkout__form-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checkout__double-row {
  width: 100%;
  display: flex;
  gap: 6px;
  > input {
    flex: 1;
    min-width: 0;
  }
  @include media-tablet {
    > input:first-child {
      flex-basis: 38%;
    }
  }
}

.checkout__subtitle {
  margin: 24px 0 20px;
  @include font($size: 1.4rem, $height: 4rem, $weight: 500);
  @include media-mobile {
    margin: 20px 0 8px;
  }
}

.checkout__shipping {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.checkout__button {
  width: 230px;
  height: 44px;
  margin-top: 30px;
  padding: 0;
  justify-content: center;
  background-color: #0840f4;
  border-radius: 12px;
  @include media-laptop-lg {
    border-radius: 10px;
  }
  @include media-tablet {
    border-radius: 12px;
  }
}

.checkout__summary {
  min-height: 360px;
  margin-top: 160px;
  @include media-laptop-xl {
    margin-top: 160px;
  }
  @include media-laptop-lg {
    gap: 112px;
  }
  @include media-tablet {
    margin-top: 50px;
  }
}

.checkout__radio-button {
  width: fit-content;
  align-items: center;
}

.checkout__payment {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-bottom: 25px;
  margin-top: 70px;
  @include media-laptop-xl {
    margin-top: 60px;
  }
  @include media-laptop-lg {
    margin-top: 50px;
  }
  @include media-laptop {
    margin-top: 40px;
  }
  @include media-tablet {
    margin-top: 30px;
  }
}

.checkout__payment-type {
  display: flex;
  justify-content: space-between;
}

.checkout__payment-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.checkout__checkbox {
  margin: 28px 0 10px;
}

.thanks {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  gap: 45px;
  margin-top: auto;
  margin-bottom: auto;
  @include media-mobile {
    gap: 20px;
  }
}

.thanks__wrapper {
  margin-right: 50px;
  @include media-laptop-xl {
    margin-right: 65px;
  }
  @include media-laptop {
    margin-right: 5px;
  }
  @include media-tablet-lg {
    margin-right: 0;
  }
  @include media-mobile {
    margin-bottom: 50px;
  }
}

.thanks__title {
  margin: 0;
  @include font($size: 8rem, $height: 8rem, $weight: 400);
  @include media-laptop-xl {
    @include font($size: 6.7rem, $height: 6.7rem, $weight: 400);
  }
  @include media-laptop-lg {
    @include font($size: 6rem, $height: 6rem, $weight: 400);
  }
  @include media-laptop {
    @include font($size: 5.1rem, $height: 5.1rem, $weight: 400);
  }
  @include media-mobile {
    @include font($size: 4rem, $height: 4.1rem, $weight: 400);
    letter-spacing: -1px;
    width: 310px;
  }
}

.thanks__subtitle {
  @include font($size: 2.5rem, $height: 2.5rem, $weight: 400);
  color: #666666;
  span {
    color: #888787;
    text-decoration: underline;
    font-weight: 500;
  }
  @include media-laptop-xl {
    @include font($size: 2.2rem, $height: 2.2rem, $weight: 400);
  }
  @include media-laptop-lg {
    @include font($size: 2rem, $height: 2rem, $weight: 400);
  }

  @include media-laptop {
    @include font($size: 1.6rem, $height: 2.4rem, $weight: 400);
  }
  @include media-mobile {
    @include font($size: 1.4rem, $height: 2rem, $weight: 400);
    width: 275px;
    margin-bottom: 50px;
  }
}

.thanks__button {
  width: 230px;
  height: 44px;
  padding: 0;
  justify-content: center;
  border-radius: 12px;
  @include font($size: 1.5rem, $height: 100%, $weight: 500);
  @include media-laptop-xl {
    @include font($size: 1.4rem, $height: 100%, $weight: 500);
  }
  @include media-laptop-lg {
    @include font($size: 1.3rem, $height: 100%, $weight: 500);
    border-radius: 10px;
  }
  @include media-laptop {
    @include font($size: 1.2rem, $height: 100%, $weight: 500);
  }
  @include media-tablet {
    @include font($size: 1.5rem, $height: 100%, $weight: 500);
    display: none;
  }
}
