@use '../abstract/index' as *;

.news {
  padding: 150px 45px 95px;
  @include media-laptop-xl {
    padding: 120px 30px 85px;
  }
  @include media-laptop-lg {
    padding: 90px 20px 65px;
  }
  @include media-laptop {
    padding: 70px 15px 50px;
  }
  @include media-tablet {
    padding: 50px 18px 70px;
  }
}

.news__title {
  color: $color-white;
  @include font($size: 10rem, $height: 10rem, $weight: 300);
  letter-spacing: -1px;
  span {
    color: #a0a0a0;
  }
  @include media-laptop-xl {
    font-size: 8.2rem;
    line-height: 8.2rem;
  }
  @include media-laptop-lg {
    font-size: 7rem;
    line-height: 7rem;
  }
  @include media-laptop {
    font-size: 6rem;
    line-height: 6rem;
  }
  @include media-tablet {
    display: none;
  }
}

.news__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  @include media-laptop-xl {
    margin-bottom: 80px;
  }
  @include media-laptop-lg {
    margin-bottom: 70px;
  }
  @include media-laptop {
    margin-bottom: 60px;
  }
  @include media-tablet {
    margin-bottom: 30px;
  }
}

.news__controls {
  display: flex;
  gap: 20px;
  @include media-tablet {
    margin-left: auto;
  }
  @include media-mobile {
    width: 100%;
    margin-left: 0;
    justify-content: space-between;
    gap: 24px;
  }
}

.news__select {
  height: 60px;
  width: 200px;
  .select-trigger {
    border-radius: 12px;
  }
  @include media-laptop-xl {
    height: 50px;
    width: 170px;
  }
  @include media-laptop {
    height: 45px;
    width: 150px;
  }
  @include media-mobile {
    flex: 1;
  }
}

.news__image {
  width: 100%;
}

.news__main-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(160px, 1fr));
  gap: 50px;
  margin-bottom: 100px;
  @include media-laptop-xl {
    margin-bottom: 80px;
    gap: 45px;
  }
  @include media-laptop-lg {
    margin-bottom: 70px;
    gap: 40px;
  }
  @include media-laptop {
    margin-bottom: 60px;
    gap: 35px;
  }
  @include media-tablet-lg {
    display: none;
  }
}

.all-news {
  display: flex;
  flex-direction: column;
}

.all-news__wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(160px, 1fr));
  column-gap: 24px;
  row-gap: 100px;
  margin-bottom: 110px;
  @include media-laptop-xl {
    column-gap: 20px;
    row-gap: 80px;
    margin-bottom: 90px;
  }
  @include media-laptop-lg {
    column-gap: 18px;
    row-gap: 70px;
    margin-bottom: 80px;
  }
  @include media-laptop {
    column-gap: 15px;
    row-gap: 50px;
    margin-bottom: 70px;
  }
  @include media-tablet-lg {
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    row-gap: 60px;
  }
  @include media-tablet-sm {
    grid-template-columns: repeat(1, minmax(160px, 1fr));
    row-gap: 50px;
    margin-bottom: 90px;
  }
}

.news__card {
  position: relative;
  p {
    color: $color-white;
    @include font($size: 3.5rem, $height: 3.5rem, $weight: 400);
    margin-top: 35px;
    span {
      color: #8b8f94;
    }
  }
  &:hover {
    .news__card-button {
      background: $color-icon-button;
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
  @include media-laptop-xl {
    p {
      @include font($size: 2.9rem, $height: 2.9rem, $weight: 400);
      margin-top: 35px;
    }
  }
  @include media-laptop-lg {
    p {
      @include font($size: 2.5rem, $height: 2.5rem, $weight: 400);
      margin-top: 30px;
    }
  }
  @include media-laptop {
    p {
      @include font($size: 2.2rem, $height: 2.2rem, $weight: 400);
      margin-top: 25px;
    }
  }
}

.news__card-button {
  position: absolute;
  top: 28px;
  right: 28px;
  width: 60px;
  height: 60px;
  padding: 0;
  background: $color-white;
  border-radius: 50%;
  @extend %transition;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 26px;
    height: 26px;
  }

  @include media-laptop-xl {
    top: 24px;
    right: 24px;
    width: 50px;
    height: 50px;

    img {
      width: 22px;
      height: 22px;
    }
  }
  @include media-laptop-lg {
    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;

    img {
      width: 20px;
      height: 20px;
    }
  }
  @include media-laptop {
    top: 18px;
    right: 18px;
    width: 40px;
    height: 40px;

    img {
      width: 18px;
      height: 18px;
    }
  }
}

.all-news {
  .news__card {
    p {
      margin-top: 25px;
      max-width: 300px;
      @include font($size: 2.5rem, $height: 2.8rem, $weight: 400);
      letter-spacing: -3%;
    }
    @include media-laptop-xl {
      p {
        max-width: 240px;
        margin-top: 20px;
        @include font($size: 2rem, $height: 2.3rem, $weight: 400);
      }
    }
    @include media-laptop-lg {
      p {
        max-width: 220px;
        margin-top: 15px;
        @include font($size: 1.8rem, $height: 2.1rem, $weight: 400);
      }
    }
    @include media-laptop {
      p {
        max-width: 200px;
        margin-top: 15px;
        @include font($size: 1.6rem, $height: 1.9rem, $weight: 400);
      }
    }
    @include media-tablet-lg {
      p {
        max-width: 76%;
        margin-top: 20px;
        @include font($size: 2rem, $height: 2.3rem, $weight: 400);
      }
    }
    @include media-mobile {
      p {
        max-width: 240px;
        margin-top: 20px;
        @include font($size: 2rem, $height: 2.3rem, $weight: 400);
      }
    }
  }

  .news__card-button {
    top: 15px;
    right: 15px;
    width: 38px;
    height: 38px;

    img {
      width: 16px;
      height: 16px;
    }
    @include media-laptop-xl {
      top: 12px;
      right: 12px;
      width: 35px;
      height: 35px;

      img {
        width: 14px;
        height: 14px;
      }
    }
    @include media-laptop-lg {
      top: 12px;
      right: 12px;
      width: 30px;
      height: 30px;

      img {
        width: 13px;
        height: 13px;
      }
    }
    @include media-laptop {
      top: 10px;
      right: 10px;
      width: 26px;
      height: 26px;

      img {
        width: 12px;
        height: 12px;
      }
    }
    @include media-tablet-lg {
      display: none;
    }
  }
}
