@use '../abstract/index' as *;

.product {
  display: grid;
  grid-template-columns: 896fr 766fr;
  gap: 95px;
  padding: 150px 80px 110px 70px;
  color: $color-white;
  @include media-laptop-xl {
    gap: 80px;
    padding: 120px 60px 90px 50px;
  }
  @include media-laptop-lg {
    gap: 65px;
    padding: 100px 30px 70px 30px;
  }
  @include media-laptop {
    gap: 50px;
    padding: 80px 20px 50px 20px;
  }
  @include media-tablet {
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 60px 15px 40px 15px;
    & > * {
      min-width: 0;
    }
  }
}

.product__preview {
  position: relative;
  min-width: 0;
  max-width: 100%;
  &-label {
    position: absolute;
    top: -35px;
    left: 0;
    @include font($size: 1.4rem, $height: 1.4rem, $weight: 400);
    color: #4f4f4f;
    @include media-laptop-xl {
      font-size: 1.2rem;
      top: -32px;
    }
    @include media-laptop-lg {
      font-size: 1rem;
      top: -28px;
    }
    @include media-mobile {
      font-size: 1.2rem;
    }
  }
}

.product__slider {
  display: flex;
  gap: 11px;
  margin-top: 17px;
  @include media-laptop-xl {
    gap: 9px;
    margin-top: 15px;
  }
  @include media-laptop-lg {
    gap: 7px;
    margin-top: 12px;
  }
  @include media-laptop {
    gap: 6px;
    margin-top: 10px;
  }
}

.product__image {
  width: 100%;
  border-radius: 7px;
  aspect-ratio: 140/100;
  &-main {
  }
  &-thumb {
    max-width: 140px;
    @include media-laptop-xl {
      max-width: 125px;
    }
    @include media-laptop-lg {
      max-width: 110px;
    }
    @include media-laptop {
      max-width: 90px;
    }
    @include media-mobile {
      max-width: 95px;
    }
  }
}

.product__info {
  width: 100%;
}

.product__title {
  width: 75%;
  @include font($size: 7rem, $height: 7.2rem, $weight: 400);
  padding-bottom: 28px;
  border-bottom: 1px solid #3e3e3e;
  letter-spacing: -1px;
  @include media-laptop-xl {
    width: 78%;
    @include font($size: 6.3rem, $height: 6.4rem, $weight: 400);
    padding-bottom: 18px;
  }
  @include media-laptop-lg {
    width: 72%;
    @include font($size: 5.5rem, $height: 5.6rem, $weight: 400);
    padding-bottom: 16px;
  }
  @include media-laptop {
    width: 70%;
    @include font($size: 4.6rem, $height: 4.7rem, $weight: 400);
    padding-bottom: 14px;
  }
  @include media-tablet {
    width: 100%;
    @include font($size: 3.8rem, $height: 3.9rem, $weight: 400);
    padding-bottom: 36px;
  }
  @include media-mobile {
    width: 100%;
    @include font($size: 3.8rem, $height: 3.9rem, $weight: 400);
    padding-bottom: 36px;
  }
  @include media-mobile-sm {
    width: 100%;
    @include font($size: 3.5rem, $height: 3.6rem, $weight: 400);
    padding-bottom: 32px;
  }
}

.product__price {
  @include font($size: 2.7rem, $height: 2.7rem, $weight: 400);
  margin: 28px 0 50px;
  color: #c1c1c1;
  @include media-laptop-xl {
    @include font($size: 2.3rem, $height: 2.3rem, $weight: 400);
    margin: 20px 0 40px;
  }
  @include media-laptop-lg {
    @include font($size: 2rem, $height: 2rem, $weight: 400);
    margin: 16px 0 30px;
  }
  @include media-laptop {
    @include font($size: 1.7rem, $height: 1.7rem, $weight: 400);
    margin: 14px 0 20px;
  }
  @include media-mobile {
    @include font($size: 2rem, $height: 2rem, $weight: 400);
    margin: 18px 0 40px;
  }
}

.product__scale {
  transform-origin: left center;
  @include media-laptop-xl {
    transform: scale(0.95);
  }
  @include media-laptop-lg {
    transform: scale(0.9);
  }
  @include media-laptop {
    transform: scale(0.82);
  }
  @include media-mobile {
    transform: scale(1);
    display: flex;
    flex-direction: column;
  }
}
.product__selects {
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
  @include media-mobile {
    width: 100%;
    justify-content: space-between;
  }
}

.product__button {
  width: 345px;
  height: 60px;
  margin-bottom: 22px;
  @include media-mobile {
    // flex: 1;
    width: 100%;
    height: 56px;
    margin-bottom: 40px;
  }
}

.product__description {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 0;
  @include media-laptop-xl {
    gap: 40px;
    padding: 30px 0;
  }
  @include media-laptop-lg {
    gap: 30px;
    padding: 25px 0;
  }
  @include media-laptop {
    gap: 20px;
    padding: 20px 0;
  }
  @include media-mobile {
    gap: 26px;
    padding: 40px 0;
  }
}

.product__text {
  width: 95%;
  @include font($size: 1.4rem, $height: 185%, $weight: 400);
  color: #7b7b7b;
  @include media-laptop-xl {
    @include font($size: 1.2rem, $height: 185%, $weight: 400);
  }
  @include media-laptop-lg {
    @include font($size: 1.1rem, $height: 185%, $weight: 400);
  }
  @include media-laptop {
    @include font($size: 0.95rem, $height: 185%, $weight: 400);
  }
  @include media-mobile {
    @include font($size: 1.4rem, $height: 185%, $weight: 400);
    width: 100%;
  }
}

.product__table {
  display: grid;
  width: 525px;
  grid-template-columns: 44% 56%;
  border: 1px solid #ffffff26;
  @include media-laptop-xl {
    width: 480px;
  }
  @include media-laptop-lg {
    width: 420px;
  }
  @include media-laptop {
    width: 350px;
  }
  @include media-mobile {
    width: 100%;
  }
}

.product__cell {
  padding: 26px 30px;
  border-right: 1px solid #ffffff26;
  border-bottom: 1px solid #ffffff26;
  @include font($size: 1.6rem, $height: 1.7rem, $weight: 400);
  &:nth-child(2n) {
    border-right: none;
    color: #949494;
    padding-left: 60px;
  }

  &:nth-last-child(-n + 2) {
    border-bottom: none;
  }
  @include media-laptop-xl {
    padding: 20px 25px;
    @include font($size: 1.4rem, $height: 1.5rem, $weight: 400);
    &:nth-child(2n) {
      padding-left: 40px;
    }
  }
  @include media-laptop-lg {
    padding: 18px 20px;
    @include font($size: 1.2rem, $height: 1.3rem, $weight: 400);
    &:nth-child(2n) {
      padding-left: 40px;
    }
  }
  @include media-laptop {
    padding: 15px 15px;
    @include font($size: 1rem, $height: 1.1rem, $weight: 400);
    &:nth-child(2n) {
      padding-left: 34px;
    }
  }
  @include media-mobile {
    padding: 20px 15px;
    @include font($size: 1.2rem, $height: 1.3rem, $weight: 400);
    &:nth-child(2n) {
      padding-left: 40px;
    }
  }
}

.product__notification {
  display: flex;
  align-items: center;
  color: #202020;
  gap: 28px;
  padding: 17px 16px;
  background-color: #f4f4f4;
  border-radius: 12px;
  @include font($size: 1.2rem, $height: 1.3rem, $weight: 400);
  img {
    width: 17px;
    height: 17px;
  }
  @include media-laptop-xl {
    gap: 20px;
    padding: 12px 10px;
    @include font($size: 1rem, $height: 1.1rem, $weight: 400);
    img {
      width: 14px;
      height: 14px;
    }
  }
  @include media-laptop {
    gap: 18px;
    padding: 10px 8px;
    border-radius: 8px;
    @include font($size: 0.9rem, $height: 1rem, $weight: 400);
    img {
      width: 12px;
      height: 12px;
    }
  }
  @include media-mobile {
    gap: 30px;
    padding: 14px 22px;
    border-radius: 10px;
    @include font($size: 1.2rem, $height: 1.2rem, $weight: 400);
    img {
      width: 17px;
      height: 17px;
    }
  }
}

.product__new-items {
  margin-bottom: 95px;
  @include media-laptop-xl {
    margin-bottom: 85px;
  }
  @include media-laptop-lg {
    margin-bottom: 75px;
  }
  @include media-mobile {
    margin-bottom: 60px;
  }
}

.product__footer {
  border-top: none;
  @include media-mobile {
    margin-top: 90px;
  }
}

.product__thumbs-slider {
  margin-top: 17px;

  .swiper-slide {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s;
    width: auto !important; // ключевая строка
    flex-shrink: 0;
  }

  .swiper-slide-thumb-active {
    opacity: 1;
  }
}

.product__main-slider {
  .swiper-slide {
    width: 100%;
  }
}
