@use '../abstract/index' as *;

.returns {
  padding: 80px 20px 100px 20px;
  @include media-laptop-xl {
    padding: 60px 20px 80px 20px;
  }
  @include media-laptop-lg {
    padding: 50px 20px 70px 20px;
  }
  @include media-laptop {
    padding: 40px 15px 60px 15px;
  }
  @include media-tablet-lg {
    padding: 5px 0;
  }
}

.returns__breadcrumbs {
  @include media-tablet-lg {
    display: none;
  }
}

.returns__layout {
  display: flex;
  flex-direction: column;
}

.returns__banner {
  position: relative;
  width: 100%;
  margin-top: 60px;
  border-radius: 12px;
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background: #080302;
    filter: blur(200px);
  }
  @include media-laptop-xl {
    margin-top: 50px;
  }
  @include media-laptop-lg {
    margin-top: 40px;
  }
  @include media-laptop {
    margin-top: 30px;
  }
  @include media-tablet-lg {
    border-radius: 0;
  }
}

.returns__image {
  width: 100%;
  aspect-ratio: 1872 / 553;
  border-radius: 12px;
  object-fit: cover;
  @include media-tablet-lg {
    border-radius: 0;
    height: 407px;
  }
  @include media-mobile {
    display: none;
  }
  &-mobile {
    display: none;
    @include media-mobile {
      height: auto;
      aspect-ratio: 360 / 407;
      display: block;
    }
  }
}

.returns__banner-title {
  position: absolute;
  z-index: 2;
  bottom: 45px;
  left: 56px;
  color: $color-white;
  @include font($size: 12rem, $height: 10rem, $weight: 400);
  letter-spacing: -1px;
  p:last-child {
    margin-left: 410px;
  }
  @include media-laptop-xl {
    left: 40px;
    @include font($size: 10rem, $height: 9rem, $weight: 400);

    p:last-child {
      margin-left: 334px;
    }
  }
  @include media-laptop-lg {
    left: 38px;
    bottom: 35px;
    @include font($size: 8.5rem, $height: 8rem, $weight: 400);

    p:last-child {
      margin-left: 286px;
    }
  }
  @include media-laptop {
    left: 30px;
    bottom: 25px;
    @include font($size: 7rem, $height: 6.5rem, $weight: 400);

    p:last-child {
      margin-left: 235px;
    }
  }
  @include media-tablet-lg {
    left: 7%;
    top: 15%;
    @include font($size: 4.7rem, $height: 4.7rem, $weight: 400);

    p:last-child {
      margin-left: 0;
    }
  }
}

.returns__info {
  display: flex;
  flex-direction: column;
  padding: 20px 50px 0 120px;
  @include media-laptop-xl {
    padding: 20px 40px 0 80px;
  }
  @include media-laptop-lg {
    padding: 20px 30px 0 60px;
  }
  @include media-laptop {
    padding: 20px 20px 0 30px;
  }
  @include media-mobile {
    padding: 40px 18px 100px 18px;
  }
}

.returns__info-block {
  display: flex;
  flex-direction: column;
  padding: 120px 0 150px 0;
  gap: 100px;
  @include media-laptop-xl {
    padding: 100px 0 120px 0;
    gap: 80px;
  }
  @include media-laptop-lg {
    padding: 80px 0 100px 0;
    gap: 60px;
  }
  @include media-laptop {
    padding: 60px 0 70px 0;
    gap: 40px;
  }
  @include media-mobile {
    padding: 20px 12px 70px 12px;
    gap: 60px;
  }
}

.returns__title {
  color: $color-white;
  @include font($size: 7rem, $height: 7rem, $weight: 400);
  @include media-laptop-xl {
    @include font($size: 6rem, $height: 6rem, $weight: 400);
  }
  @include media-laptop-lg {
    @include font($size: 5rem, $height: 5rem, $weight: 400);
  }
  @include media-laptop {
    @include font($size: 4rem, $height: 4rem, $weight: 400);
  }
  @include media-tablet-lg {
    @include font($size: 4rem, $height: 4rem, $weight: 400);
    margin-left: 2px;
  }
}

.returns__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  .returns__section-item:nth-child(1) {
    justify-self: start;
    .returns__text {
      width: 413px;
    }
  }
  .returns__section-item:nth-child(2) {
    justify-self: center;
    .returns__text {
      width: 280px;
    }
  }
  .returns__section-item:nth-child(3) {
    justify-self: end;
    .returns__text {
      width: 330px;
    }
  }
  @include media-laptop-xl {
    .returns__section-item:nth-child(1) {
      .returns__text {
        width: 325px;
      }
    }
    .returns__section-item:nth-child(2) {
      .returns__text {
        width: 240px;
      }
    }
    .returns__section-item:nth-child(3) {
      .returns__text {
        width: 290px;
      }
    }
  }
  @include media-laptop-lg {
    .returns__section-item:nth-child(1) {
      .returns__text {
        width: 280px;
      }
    }
    .returns__section-item:nth-child(2) {
      .returns__text {
        width: 220px;
      }
    }
    .returns__section-item:nth-child(3) {
      .returns__text {
        width: 260px;
      }
    }
  }
  @include media-laptop {
    .returns__section-item:nth-child(1) {
      .returns__text {
        width: 250px;
      }
    }
    .returns__section-item:nth-child(2) {
      .returns__text {
        width: 170px;
      }
    }
    .returns__section-item:nth-child(3) {
      .returns__text {
        width: 206px;
      }
    }
  }
  @include media-tablet-lg {
    grid-template-columns: 1fr;
    gap: 110px;
    .returns__section-item {
      justify-self: start !important;
      .returns__text {
        // width: 100% !important;
      }
    }
  }

  @include media-mobile {
    .returns__section-item:nth-child(1) {
      .returns__text {
        width: 305px;
      }
    }
    .returns__section-item:nth-child(2) {
      .returns__text {
        width: 230px;
      }
    }
    .returns__section-item:nth-child(3) {
      .returns__text {
        width: 275px;
      }
    }
  }
}

.returns__section-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.returns__subtitle {
  color: $color-white;
  @include font($size: 2.2rem, $height: 170%, $weight: 700);
  @include media-laptop-xl {
    @include font($size: 2rem, $height: 170%, $weight: 700);
  }
  @include media-laptop-lg {
    @include font($size: 1.8rem, $height: 170%, $weight: 700);
  }
  @include media-laptop {
    @include font($size: 1.6rem, $height: 170%, $weight: 700);
  }
  @include media-tablet-lg {
    @include font($size: 2.2rem, $height: 170%, $weight: 700);
  }
}

.returns__text {
  color: #9d9d9d;
  @include font($size: 1.6rem, $height: 170%, $weight: 500);
  @include media-laptop-xl {
    @include font($size: 1.4rem, $height: 170%, $weight: 500);
  }
  @include media-laptop-lg {
    @include font($size: 1.2rem, $height: 170%, $weight: 500);
  }
  @include media-laptop {
    @include font($size: 1rem, $height: 170%, $weight: 500);
  }
  @include media-tablet-lg {
    @include font($size: 1.4rem, $height: 170%, $weight: 500);
  }
}

.returns__info-block_2 {
  border-top: 1px solid #ffffff26;
  @include media-tablet-lg {
    border: none;
  }
}

.returns__section_2 {
  .returns__section-item:nth-child(1) {
    .returns__text {
      width: 300px;
    }
  }
  .returns__section-item:nth-child(2) {
    .returns__text {
      width: 285px;
    }
  }
  .returns__section-item:nth-child(3) {
    .returns__text {
      width: 280px;
    }
  }
  @include media-laptop-xl {
    .returns__section-item:nth-child(1) {
      width: 330px;
      .returns__text {
        width: 250px;
      }
    }
    .returns__section-item:nth-child(2) {
      .returns__text {
        width: 250px;
      }
    }
    .returns__section-item:nth-child(3) {
      width: 290px;
      .returns__text {
        width: 250px;
      }
    }
  }
  @include media-laptop-lg {
    .returns__section-item:nth-child(1) {
      .returns__text {
        width: 218px;
      }
    }
    .returns__section-item:nth-child(2) {
      .returns__text {
        width: 214px;
      }
    }
    .returns__section-item:nth-child(3) {
      width: 260px;
      .returns__text {
        width: 214px;
      }
    }
  }
  @include media-laptop {
    .returns__section-item:nth-child(1) {
      .returns__text {
        width: 180px;
      }
    }
    .returns__section-item:nth-child(2) {
      .returns__text {
        width: 178px;
      }
    }
    .returns__section-item:nth-child(3) {
      width: 206px;
      .returns__text {
        width: 170px;
      }
    }
  }
  @include media-mobile {
    .returns__section-item:nth-child(1) {
      .returns__text {
        width: 250px;
      }
    }
    .returns__section-item:nth-child(2) {
      .returns__text {
        width: 260px;
      }
    }
    .returns__section-item:nth-child(3) {
      width: 100%;
      .returns__text {
        width: 260px;
      }
    }
  }
}

.returns__button {
  padding: 0;
  width: 344px;
  height: 44px;
  justify-content: center;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  color: $color-white;
  @include font($size: 1.6rem, $height: 1.6rem, $weight: 500);
  @include media-laptop-xl {
    width: 320px;
  }
  @include media-laptop-lg {
    width: 280px;
    height: 40px;
    font-size: 1.4rem;
  }
  @include media-laptop {
    width: 240px;
    height: 38px;
    font-size: 1.2rem;
  }
  @include media-mobile {
    width: 100%;
    height: 44px;
    font-size: 1.4rem;
    border-radius: 10px;
  }
}
