<header class="header">
  <div class="header__controls header__controls_mobile">
    <button class="icon-button burger-button">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <!-- <button class="icon-button">
      <img src="/assets/icons/heart.svg" alt="favorite" />
    </button> -->
  </div>
  <a href="/">
    <img src="/assets/icons/logo.svg" alt="logo" class="header__logo" />
  </a>

  <ul class="header__navigation">
    <li><a href="https://spanish.bravexgroup.eu/showrum">SHOWROOM</a></li>
    <!-- <li><a href="">ENTREGA Y PAGO </a></li> Страница про информацию и доставку -->
    <li><a href="/contacts">CONTACTOS</a></li>
    <!-- <li><a href="">CONSEJOS</a></li> -->
    <!-- <li><a href="">VISUALIZACIÓN 3D</a></li> -->
    <li><a href="/blog">BLOG</a></li>
    <li><a href="/catalog">CATÁLOGO</a></li>
  </ul>

  <div class="header__controls">
    <!-- <button class="icon-button">
      <img src="/assets/icons/lens.svg" alt="search" />
    </button>
    <button class="icon-button">
      <img src="/assets/icons/heart.svg" alt="favorite" />
    </button> -->
    <a href="/cart" class="icon-button icon-button_filled">
      <img src="/assets/icons/cart.svg" alt="cart" />
    </a>
  </div>
</header>
