$color-icon-button: #004cfc;
$color-white: #ffffff;
$color-black: #000000;

$color-primary: #ff9900;
$color-additional: #ff7549;
$color-background: #ffeee1;
$color-link: #1943ef;
$color-tag: #f5f5f5;
$color-text: #544837;
$color-heading: #2f281e;
$color-border: #d7d7d7;
$color-hovered: #bcd0e5;
$color-light: #ffffff;
$color-hamburger: #173a56;

$color-violet: #7752be;
$color-yellow: #fab005;
$color-red: #f03e3d;
$color-blue: #4dadf7;

$desktop-width: 1920px;

$laptop-xl-width: 1600px;
$laptop-lg-width: 1440px;
$laptop-width: 1200px;

$tablet-lg-width: 992px;
$tablet-width: 768px;
$tablet-sm-width: 576px;

$mobile-lg-width: 430px;
$mobile-sm-width: 360px;
