@use '../abstract/index' as *;

.catalog-section {
  color: $color-white;
  padding: 0 20px;
  @include media-tablet {
    padding: 0 15px;
    margin-bottom: 20px;
  }
}

.catalog-section__header {
  display: flex;
  justify-content: space-between;
  padding: 60px 0 35px;
  @include font($size: 3.5rem, $height: 4.4rem, $weight: 400);
  letter-spacing: -1px;
  @include media-laptop-xl {
    @include font($size: 3.2rem, $height: 126%, $weight: 400);
  }
  @include media-laptop-lg {
    @include font($size: 3rem, $height: 126%, $weight: 400);
  }
  @include media-tablet-sm {
    padding: 40px 0;
    @include font($size: 2rem, $height: 126%, $weight: 400);
  }
  @include media-mobile {
    padding: 30px 0;
    @include font($size: 2.3rem, $height: 2.7rem, $weight: 400);
  }
  @include media-mobile-sm {
    padding: 30px 0;
    @include font($size: 2rem, $height: 2.6rem, $weight: 400);
  }
}

.catalog-section__card {
  position: relative;
  aspect-ratio: 445 / 537;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    inset: 0;
    background: #0840f499;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
  }

  &:hover::before {
    opacity: 1;
  }

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 43%;
    background: rgba(30, 29, 28, 0.7);
    filter: blur(100px);
  }
}

.catalog-section__content {
  display: grid;
  grid-template-columns: repeat(4, minmax(140px, 1fr));
  gap: 20px;
  @include media-tablet {
    gap: 10px;
    grid-template-columns: repeat(2, minmax(160px, 1fr));
  }
}

.catalog-section__title {
  :last-child {
    color: #8b8f94;
  }
}

.catalog-section__image {
  display: block;
  width: 100%;
  height: 100%;
}

.catalog-section__subtitle {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  top: 0;
  width: 65%;
  height: 100%;
  padding: 32px 26px;
  @include font($size: 3.5rem, $height: 3.6rem, $weight: 400);
  letter-spacing: -1px;
  @include media-laptop-xl {
    @include font($size: 3rem, $height: 3.1rem, $weight: 400);
  }
  @include media-laptop-lg {
    @include font($size: 2.8rem, $height: 2.9rem, $weight: 400);
    padding: 30px;
  }
  @include media-laptop {
    @include font($size: 2.2rem, $height: 2.3rem, $weight: 400);
    width: 60%;
    padding: 20px;
  }
  @include media-tablet-lg {
    @include font($size: 1.9rem, $height: 2rem, $weight: 400);
    padding: 10px;
  }
  @include media-tablet {
    width: 100%;
    padding: 20px 10px;
  }
  @include media-mobile-sm {
    @include font($size: 1.6rem, $height: 1.7rem, $weight: 400);
  }
}

.catalog-section__card-button {
  position: absolute;
  right: 26px;
  bottom: 26px;
  z-index: 2;
  padding: 0 15px;
  width: 126px;
  height: 42px;
  border-radius: 9px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  img {
    width: 12px;
  }
  @include media-laptop-xl {
    width: 116px;
    height: 38px;
    bottom: 32px;
    @include font($size: 1.5rem, $height: 1.5rem, $weight: 400);
  }
  @include media-laptop-lg {
    width: 100px;
    height: 32px;
    right: 18px;
    bottom: 30px;
    @include font($size: 1.4rem, $height: 1.4rem, $weight: 400);
    img {
      width: 11px;
    }
  }

  @include media-laptop {
    img {
      width: 10px;
    }
  }

  @include media-tablet {
    display: none;
  }
}

.catalog-section__card:hover .catalog-section__card-button {
  opacity: 1;
}
