@use '../abstract/index' as *;

.explore {
  width: 100%;
  position: relative;
  overflow: hidden;
  color: $color-white;
  height: 1000px;
  max-height: calc(100vh - 85px);
  margin-bottom: 30px;
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 22%;
    background: #080302;
    filter: blur(200px);
  }
  @include media-laptop-xl {
    max-height: calc(100vh - 77px);
  }
  @include media-laptop-lg {
    height: 800px;
    max-height: calc(100vh - 70px);
  }
  @include media-laptop {
    height: 700px;
    max-height: calc(100vh - 64px);
  }
  @include media-tablet-lg {
    max-height: calc(100vh - 60px);
    margin-bottom: 15px;
  }
  @include media-tablet {
    max-height: calc(var(--fixed-vh) - 50px);
  }
}

.explore__video-block {
  position: absolute;
  bottom: 0;
  height: 100%;
  left: -13%;
  width: 115%;
  object-fit: cover;
}

.explore__content {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 36px;
  padding: 50px;

  @include media-laptop-lg {
    gap: 30px;
  }
  @include media-tablet-lg {
    gap: 25px;
    padding: 40px;
  }
  @include media-tablet {
    padding: 30px;
  }
  @include media-tablet-sm {
    padding: 20px;
  }
}

.explore__title {
  letter-spacing: -3px;
  @include font($size: 10rem, $height: 7.5rem, $weight: 400);
  @include media-laptop-xl {
    @include font($size: 7.2rem, $height: 6.4rem, $weight: 400);
  }
  @include media-laptop-lg {
    @include font($size: 6.5rem, $height: 5rem, $weight: 400);
  }
  @include media-laptop {
    @include font($size: 5.5rem, $height: 4rem, $weight: 400);
  }
  @include media-tablet-lg {
    @include font($size: 3.6rem, $height: 4rem, $weight: 400);
    letter-spacing: 0;
  }
  @include media-mobile-sm {
    @include font($size: 3.5rem, $height: 3.6rem, $weight: 400);
  }
}

.explore__description {
  width: 760px;
  letter-spacing: -0.5px;
  @include font($size: 1.6rem, $height: 3rem, $weight: 400);
  @include media-laptop-xl {
    width: 715px;
    @include font($size: 1.5rem, $height: 2.8rem, $weight: 400);
  }
  @include media-laptop-lg {
    width: 663px;
    @include font($size: 1.4rem, $height: 2.5rem, $weight: 400);
  }
  @include media-tablet-lg {
    width: 60%;
    @include font($size: 1.2rem, $height: 2rem, $weight: 400);
  }
  @include media-tablet {
    width: 70%;
    @include font($size: 1rem, $height: 1.8rem, $weight: 400);
  }
  @include media-tablet-sm {
    display: none;
  }
}

.explore__button {
  // @include media-mobile {
  //   width: 100%;
  // }
  @include media-laptop-xl {
    width: 220px;
    height: 60px;
    padding: 16px 25px;
    @include font($size: 1.4rem, $height: 1.6rem, $weight: 400);
    img {
      width: 14px;
    }
  }
  @include media-laptop {
    width: 140px;
    height: 45px;
    padding: 15px 25px;
    @include font($size: 1.2rem, $height: 1.5rem, $weight: 400);
    img {
      width: 12px;
    }
    @include media-tablet-lg {
      width: 120px;
      height: 40px;
      padding: 10px 12px;
      @include font($size: 1rem, $height: 1.2rem, $weight: 400);
      img {
        width: 10px;
      }
    }
    @include media-tablet {
      width: 100px;
      height: 35px;
      padding: 8px 10px;
      @include font($size: 0.9rem, $height: 1.1rem, $weight: 400);
      img {
        width: 8px;
      }
    }
    @include media-mobile {
      width: 100%;
      height: 65px;
      padding: 20px 30px;
      @include font($size: 1.7rem, $height: 1.9rem, $weight: 400);
      img {
        width: 14px;
      }
    }
    @include media-mobile-sm {
      @include font($size: 1.6rem, $height: 1.8rem, $weight: 400);
    }
  }
}
