@use '../abstract/index' as *;

.filter {
  width: fit-content;

  color: $color-white;
}

.filter__title {
  margin-bottom: 38px;
  color: #8b8f94;
  @include media-laptop-lg {
    margin-bottom: 34px;
  }
  @include media-laptop {
    margin-bottom: 22px;
  }
}

.filter__wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff26;
}

.filter__section {
  width: 100%;
}

.filter-accordion__toggle {
  display: none;
}

.filter__header {
  height: 70px;
  padding: 18px 22px 18px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  @include font($size: 1.8rem, $height: 1.9rem, $weight: 400);
  @include media-laptop-xl {
    height: 62px;
    padding: 0 22px 0 32px;
    @include font($size: 1.6rem, $height: 1.7rem, $weight: 400);
  }
  @include media-laptop-lg {
    height: 52px;
    padding: 0 18px 0 26px;
    @include font($size: 1.5rem, $height: 1.6rem, $weight: 400);
  }
  @include media-laptop {
    height: 44px;
    padding: 0 16px 0 20px;
    @include font($size: 1.4rem, $height: 1.5rem, $weight: 400);
  }
}

.filter__icon {
  position: relative;
  width: 14px;
  height: 14px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: $color-white;
    color: $color-white;
    transition: transform 0.3s ease;
  }

  &::before {
    top: 6.5px;
    left: 0;
    width: 14px;
    height: 1px;
  }

  &::after {
    left: 6.5px;
    top: 0;
    width: 1px;
    height: 14px;
  }

  @include media-laptop-lg {
    width: 12px;
    height: 12px;

    &::before {
      width: 12px;
      height: 1px;
      top: 5.5px;
    }

    &::after {
      left: 5.5px;
      height: 12px;
    }
  }
  @include media-laptop {
    width: 10px;
    height: 10px;

    &::before {
      width: 10px;
      height: 1px;
      top: 4.5px;
    }

    &::after {
      left: 4.5px;
      height: 10px;
    }
  }
}

.filter-accordion__toggle:checked + .filter__header .filter__icon::after {
  transform: translateX(-50%) scaleY(0);
}

.filter__content {
  background-color: #151515;

  transition: grid-template-rows 0.3s ease;
  display: grid;
  grid-template-rows: 0fr;
  border-bottom: 1px solid #ffffff26;
}

.filter-accordion__toggle:checked + .filter__header + .filter__content {
  grid-template-rows: 1fr;
  border-bottom: none;
}

.filter__content-inner {
  overflow: hidden;
}

.filter__content-data {
  padding: 25px;
  display: flex;
  flex-direction: column;
  @include media-laptop-lg {
    padding: 20px;
  }
  &_radio {
    gap: 25px;
    @include media-laptop-lg {
      gap: 20px;
    }
  }
  &_range {
    gap: 20px;
    margin-bottom: 10px;
    @include media-laptop-lg {
      gap: 16px;
      margin-bottom: 8px;
    }
  }
}

.filter__apply {
  width: 100px;
  height: 31px;
  padding: 0;
  border-radius: 7px;
  justify-content: center;
  @include font($size: 1.2rem, $height: 1.2rem, $weight: 500);
}
