@use '../abstract/index' as *;

.new-items {
  color: $color-white;
  margin-bottom: 25px;
}

.new-items__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 25px;
  p {
    @include font($size: 3.5rem, $height: 126%, $weight: 400);
    letter-spacing: -1px;
    @include media-laptop-xl {
      @include font($size: 3.2rem, $height: 126%, $weight: 400);
    }
    @include media-laptop-lg {
      @include font($size: 3rem, $height: 126%, $weight: 400);
    }
    @include media-tablet-sm {
      @include font($size: 2rem, $height: 126%, $weight: 400);
    }
    @include media-mobile {
      @include font($size: 2.3rem, $height: 2.7rem, $weight: 400);
    }
    @include media-mobile-sm {
      @include font($size: 2rem, $height: 126%, $weight: 400);
    }
  }
  @include media-mobile {
    padding-bottom: 25px;
  }
}

.new-items__controls {
  display: flex;
  align-items: center;
  gap: 20px;
  @include media-laptop-xl {
    div {
      width: 44px;
      height: 44px;
      img {
        width: 13px;
        height: 13px;
      }
    }
  }
  @include media-laptop-lg {
    div {
      width: 40px;
      height: 40px;
      img {
        width: 12px;
        height: 12px;
      }
    }
  }
  @include media-tablet-lg {
    div {
      width: 37px;
      height: 37px;
      img {
        width: 11px;
        height: 11px;
      }
    }
  }
}

.new-items__swiper-wrapper {
  padding: 0 20px;
}

.new-items__swiper-slide {
  height: 750px !important;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    .new-items__button {
      background: $color-icon-button;
      span {
        filter: brightness(0) invert(1);
      }
    }
  }
  @include media-laptop-xl {
    height: 710px !important;
  }
  @include media-laptop-lg {
    height: 650px !important;
  }
  @include media-tablet-lg {
    height: 600px !important;
  }
  @include media-mobile {
    height: 420px !important;
  }
}

.new-items__image {
  display: block;
  width: 100%;
  height: calc(100% - 85px);
  object-fit: cover;
}

.new-items__info {
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 20px 30px;
  background-color: #ececec;
}

.new-items__info-title {
  @include font($size: 1.4rem, $height: 1.4rem, $weight: 500);
  color: #565656;
  @include media-laptop-xl {
    @include font($size: 1.3rem, $height: 1.3rem, $weight: 500);
  }
}

.new-items__info-subtitle {
  display: flex;
  justify-content: space-between;
  @include font($size: 1.8rem, $height: 1.8rem, $weight: 400);
  color: $color-black;
  @include media-laptop-xl {
    @include font($size: 1.6rem, $height: 1.6rem, $weight: 400);
  }
}

.new-items__button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: $color-white;
  border-radius: 50%;
  @extend %transition;
  img {
    width: 14px;
    height: 14px;
  }
  @include media-laptop-xl {
    width: 40px;
    height: 40px;
  }
  @include media-laptop-lg {
    width: 35px;
    height: 35px;
    img {
      width: 13px;
      height: 13px;
    }
  }
  @include media-tablet-lg {
    display: none;
  }
}
