@use '../abstract/index' as *;

.footer {
  margin: 0 20px;
  padding: 80px 0 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: $color-white;
  @include media-tablet-sm {
    padding-top: 0;
    border-top: none;
  }
}

.footer__layout {
  display: flex;
  justify-content: space-between;
  @include media-tablet-sm {
    flex-direction: column;
    gap: 50px;
  }
}

.footer__navigation {
  width: 100%;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 'a b c d';
  @include media-laptop-lg {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    grid-template-areas:
      'a b'
      'a c'
      'a d';
  }
}

.footer__contact-us {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 85px;
  @include media-tablet {
    width: 125px;
    gap: 50px;
    margin-left: 8px;
  }
  @include media-tablet-sm {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-left: 0;
  }
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__title {
  @include font($size: 2.5rem, $height: 2.5rem, $weight: 400);
  margin-bottom: 20px;
  @include media-laptop-xl {
    @include font($size: 2.3rem, $height: 2.3rem, $weight: 400);
  }
  @include media-tablet {
    @include font($size: 2rem, $height: 2rem, $weight: 400);
  }
}

.footer__link {
  @include font($size: 1.8rem, $height: 2.4rem, $weight: 400);
  letter-spacing: -1px;
  color: #858585;
  @include media-laptop-xl {
    @include font($size: 1.7rem, $height: 2.2rem, $weight: 400);
  }
  @include media-tablet {
    @include font($size: 1.6rem, $height: 2rem, $weight: 400);
  }
}

.footer__socials {
  display: flex;
  flex-direction: column;
}

.footer__contacts {
  display: flex;
  gap: 15px;
  img {
    width: 20px;
    height: 20px;
  }
  @include media-tablet {
    gap: 10px;
    img {
      width: 16px;
      height: 16px;
    }
  }
}

.footer__address {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include font($size: 1.8rem, $height: 1.8rem, $weight: 700);
  :last-child {
    @include font($size: 1.4rem, $height: 2.4rem, $weight: 400);
    color: #696969;
  }
  @include media-tablet {
    gap: 10px;
    @include font($size: 1.6rem, $height: 1.6rem, $weight: 700);
    :last-child {
      @include font($size: 1.2rem, $height: 2rem, $weight: 400);
    }
  }
}

.footer__logos {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  div:last-child {
    width: 130px;
  }
  @include media-tablet-sm {
    flex-direction: column-reverse;
    gap: 80px;
    align-items: center;
    div:last-child {
      width: auto;
    }
  }
}

.footer__logo {
  width: 130px;
  height: auto;
}

.footer__payments {
  display: flex;
  gap: 15px;
  img {
    width: 50px;
    height: auto;
  }

  img:nth-child(3) {
    width: 70px;
  }
}

.footer__s1 {
  grid-area: a;
}
.footer__s2 {
  grid-area: b;
}
.footer__s3 {
  grid-area: c;
}
.footer__s4 {
  grid-area: d;
}
