@use '../abstract/index' as *;


.header {
   width: 100%;
    padding: 35px;
    padding-right: 20px;
    display: flex;
    gap: 20px;
    background-color: $color-black;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.header__logo {
    width: 130px;
    @include media-mobilesmall {
      width: 88px;
    }
}

.header__navigation {
  display: flex;
  gap: 60px;
  > li {
    font-weight: 500;
    color: #fff;
  }
  @include media-mobilesmall {
    display: none;
  }
}

.header__controls {
  display: flex;
  align-items: center;
  gap: 2px;

}