@use "../abstract/index" as *;

.header {
  width: 100%;
  padding: 20px;
  padding-left: 25px;
  display: flex;
  gap: 20px;
  background-color: $color-black;
  align-items: center;
  justify-content: space-between;
  @include font($size: 1.4rem, $weight: 500);
  @include media-laptop-xl {
    @include font($size: 1.2rem, $weight: 500);
    padding: 16px;
    padding-left: 21px;
  }
  @include media-laptop-lg {
    @include font($size: 1.1rem, $weight: 500);
    padding: 15px;
    padding-left: 20px;
  }
  @include media-laptop {
    @include font($size: 1rem, $weight: 500);
    padding: 15px;
    padding-left: 20px;
    // padding: 25px 10px 25px 25px;
  }
  @include media-tablet-lg {
    gap: 19px;
  }
  @include media-tablet {
    padding: 12px 10px;
  }
}

.header__logo {
  width: 130px;
  @include media-laptop {
    width: 110px;
  }
  @include media-tablet-lg {
    width: 100px;
  }
  @include media-mobile-sm {
    width: 88px;
  }
}

.header__navigation {
  display: flex;
  gap: 60px;
  > li {
    color: #fff;
  }
  @include media-laptop-lg {
    gap: 45px;
    font-size: 1.3rem;
  }
  @include media-laptop {
    gap: 25px;
    font-size: 1.2rem;
  }
  @include media-tablet-lg {
    gap: 14px;
    font-size: 1rem;
  }
  @include media-tablet {
    display: none;
  }
}

.header__controls {
  display: flex;
  align-items: center;
  gap: 3px;
  &:last-child {
    @include media-tablet {
      > *:not(:last-child) {
        display: none;
      }
    }
  }

  &_mobile {
    display: none;
    @include media-tablet {
      display: flex;
    }
  }
}

// Cart icon with badge
.cart-icon {
  position: relative;
}

.cart-badge {
  position: absolute;
  bottom: 7px;
  right: 7px;
  min-width: 16px;
  height: 16px;
  background-color: #e53935;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  line-height: 1;

  &.visible {
    display: flex;
  }
}
